#grid {
    flex-flow: column;
    display: flex;
    margin: auto;
    margin-top: 10%;
    width: fit-content;
    height: fit-content;
    border: 3px solid black;
}

.gridRow {

    display: flex;
}

.gridCell {
    width: 25px;
    height: 25px;
    border: 1px solid black
}

body {
    background-color: purple;
}
